.gitattributes !filter !diff

.ssh/id* filter=git-crypt diff=git-crypt
.ssh/*pem filter=git-crypt diff=git-crypt
.gitconfig-work filter=git-crypt diff=git-crypt
.secure/* filter=git-crypt diff=git-crypt
.config/fish/conf.d/work.fish filter=git-crypt diff=git-crypt
.claude/Claude.md filter=git-crypt diff=git-crypt
.claude/skills/* filter=git-crypt diff=git-crypt
.claude/commands/* filter=git-crypt diff=git-crypt
.claude/instructions/* filter=git-crypt diff=git-crypt
.config/jj/conf.d/work.toml filter=git-crypt diff=git-crypt
